@import 'https://fonts.googleapis.com/icon?family=Material+Icons|Roboto';

body {
  background: #fff;
  font-family: 'Roboto Light';
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    outline: none;
}

body {
  padding: 0;
  background-color: ivory;
  height: auto;
}

a:hover {
  text-decoration: none;
}

a{
  color: white;
}

h1 {
  margin-top: 0;
  font-weight: bold;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}


#img {
    border: 0;
    width: 400px;
    height: 200px;
    background-image: url("../../img/monsterTriple.png");
  }

  #logo {
    margin-top: -7px;
    margin-left: 0px;
    margin-right: 8px;
    width: 178px;
    height: 36px;
    line-height: 36px;
  }

  #box {
    border: 0px;
    width: 980px;
    height: 150px;
    margin: 40px auto;
    position: relative;
  }

  #menual-Name {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 300%;
    font-weight: bold;
    color: white;
    margin-right: 18px;
    margin-bottom: 4px;
  }


  #container {
    padding: 15px;
    margin-top: 0;
    width: 100%;
    height: 230px;
    background-color:  rgb(255, 132, 18);

  }
.play_container{
	width: 980px;
	margin: 0 auto;
}

.form {
  height: 24px;
  margin: 0 auto;
  width: 950px;
  position: relative;
}

.menu {
  width: 80px;
  top: 15px;
  height: 24px;
  margin-left: 4px;
  float: left;
  text-align: center;
  color: white;
  font-weight: bold;
}


.footer_container {
  width: 100%;
  border-top: solid 1px gray;
  margin: auto;
}
.footer_domain-form{
  width: 980px;
  margin: 10px auto;
  height: 80px;
  text-align: center;
}
.footer_use{
  font-size: 17px;
}
.footer_menu {
  margin-left: 20px;
}


.com-font {
  color: black;
  font-weight: bold;
  font-size: 110%;
}

.recorder_wrapper {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* record */
.recorder {
    display: inline-block;
    text-align: center;
    width: 500px;
    max-width: 100%;
}

.record_btn {
    width: 100px;
    height: 100px;
    font-family: 'Material Icons';
    font-size: 48px;
    color: #e74c3c;
    background: none;
    border: 2px solid #e74c3c;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.15s linear;
}

.record_btn:hover {
    transition: 0.15s linear;
    transform: scale( 1.05 );
}

.record_btn:active {
    background: #f5f5f5;
}

.record_btn:after {
    content: '\E029';
}

.record_btn[disabled] {
    border: 2px solid #ccc;
}

.record_btn[disabled]:after {
    content: '\E02B';
    color: #ccc;
}

.record_btn[disabled]:hover {
    transition: 0.15s linear;
    transform: none;
}

.record_btn[disabled]:active {
    background: none;
}

.recording {
    animation: recording 2s infinite ease-in-out;
    position: relative;
}

.recording:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    margin: 0px;
    border-radius: 50%;
    background: rgba( 0, 0, 0, 0.05 );
    animation: recording_before 2s infinite ease-in-out;
}

@keyframes recording {
    from {
        transform: scale( 1.1 );
    }

    50% {
        transform: none;
    }

    to {
        transform: scale( 1.1 );
    }
}

@keyframes recording_before {
    80% {
        width: 200px;
        height: 200px;
        margin: -100px;
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

.record_canvas {
    width: 60px;
    height: 100px;
    display: inline-block;

}

.txt_btn {
    color: #000;
    text-decoration: none;
    transition: 0.15s linear;
    animation: text_btn 0.3s ease-in-out;
}

/* record */

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; }

a{
  color: white;
}

html {
  font-size: 16px;
 }

/*div{
  border: 1px solid red;
}*/



#recode-play, #play-stop{
  margin-left: 83px;
}

#basic-play, #basic-stop {
  margin-left: 166px;
}

#stop{
  margin-left: 249px;
  width: 50px;
}

#basic-stop{
  display: none;
}
#recode-stop{
  display: none;
}
#play-stop{
  display: none;
}

.direction-btn{
  margin-top: 10%;
}

#left-btn{
  float: left;
  font-size: 250%;
  padding-left: 10%;
}

#right-btn{
  float: right;
  font-size: 250%;
  padding-right: 10%;
}

.btn-word{
  font-size: 70%;
  padding: 4px;
}

.play-btn {
  margin: -50px 10%;
  position: absolute;
  z-index: 4999;
}

.play-btn button {
  font-size: 120%;
  width: 80px;
  background: rgba(255, 0, 0, 0);
  height: 33px;
  margin-bottom: 10px;
  margin-right: 2px;
  border-radius: 5px;
  /*background-color: skyblue;*/
  border: 1px solid darkgray;
  color: black;
  padding: 3px;
  position: absolute;
}




/*-----------------------------------------*/
/*.middle-container {
	height: 350px;
	position: relative;
	overflow: hidden;
}

.around-form{
	height: 330px;
}*/

/*================slider=====================*/

/*이미지 돌리기 순서 처음부분*/
#fst {
	opacity: 1;
	transition: 0.5s;
	z-index: 3;
}
#sec {
	right: 500px;
	z-index: 2;
}
#thr {
	left: 600px;
	z-index: 1;
}
#four {
	left: 600px;
	z-index: 1
}
/*이미지 돌리기 순서 여기까지*/
.b-top {
  margin-top: 20px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  line-height: 50px;
  background-color: skyblue;
  color: white;
}
.b-top img {
  position: absolute;
  height: 70px;
  left: 10px;
  margin-top: -20px;
}
/*.middle-container p {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: brown;
	line-height: 46px;

}*/
.s-img img {
	height: 200px;
}
.s-box {
	margin: 7px auto;
	position: relative;
	width: 70%;
	height: 200px;
  margin-top: 25px;
	/*border: 1px solid green;*/
}
.s-img {
	position: absolute;
	width: 100%;
	height: 200px;
	/*border: 1px solid black;*/
	opacity: 0.2;
	transition: 0.5s;
}
.sliding-right {
	opacity: 1;
	transition: 0.5s;

}
.sliding-left {
 	opacity: 1;
	transition: 0.5s;
}
.s-textbox {
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: -50px;
	/*border: solid red 1px;*/
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: #736565;
	line-height: 50px;
}
.prevbtn {
	box-shadow: none;
	font-size: 25px;
	/*border: 2px solid red;*/
	padding: 10px;
	position: absolute;
	left: 2px;
	top: 50%;
	opacity: 0.5;
}

.prevbtn:hover {
	opacity: 0.9;
}
.nextbtn {
	position: absolute;
	right: 2px;
	top: 50%;
	/*border: 2px solid red;*/
	padding: 10px;
	font-size: 25px;
	top: 50%;
	opacity: 0.5;
}

.nextbtn:hover {
	opacity: 0.9;
}
