@import 'https://fonts.googleapis.com/icon?family=Material+Icons|Roboto';





.longText{
  width: 275px;
  height: 400px;
  margin-left: 20px;
  margin-bottom: 2em;
  background-color: #fff;
  border-radius: 2px;
	border: 1px solid orange;
  text-align: justify;
	font-weight: bold;
	font-size: 150%;
}
#NOThidingScrollBar{
  overflow-y: scroll;
}
/*------THE TRICK------*/
#hidingScrollBar{
  overflow: hidden;
}
.hideScrollBar{
  width: 100%;
  height: 100%;
  overflow: auto;
  margin-right: 14px;
  padding-right: 28px; /*This would hide the scroll bar of the right. To be sure we hide the scrollbar on every browser, increase this value*/
  padding-bottom: 15px; /*This would hide the scroll bar of the bottom if there is one*/
}

/*---------------------*/

/*p{
  padding: 1em;
  color: #444444;
}*/
.column-6of12{
  float: left;
  min-height: 1px;
   width: 50%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
/*@media (max-width: 796px) {
  .column-6of12{
    width: 100%;
  }*/












header
{
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 25px;
}

#info
{
	font-size: 18px;
	color: #555;
	text-align: center;
	margin-bottom: 25px;
}

a{
	color: #074E8C;
}

.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}

/*#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}*/

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}





body {
  background: #fff;
  font-family: 'Roboto Light';
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    outline: none;
}

.recorder_wrapper {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.recorder {
    display: inline-block;
    text-align: center;
    width: 500px;
    max-width: 100%;
}

.record_btn {
    width: 100px;
    height: 100px;
    font-family: 'Material Icons';
    font-size: 48px;
    color: #e74c3c;
    background: none;
    border: 2px solid #e74c3c;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.15s linear;
}

.record_btn:hover {
    transition: 0.15s linear;
    transform: scale( 1.05 );
}

.record_btn:active {
    background: #f5f5f5;
}

.record_btn:after {
    content: '\E029';
}

.record_btn[disabled] {
    border: 2px solid #ccc;
}

.record_btn[disabled]:after {
    content: '\E02B';
    color: #ccc;
}

.record_btn[disabled]:hover {
    transition: 0.15s linear;
    transform: none;
}

.record_btn[disabled]:active {
    background: none;
}

.recording {
    animation: recording 2s infinite ease-in-out;
    position: relative;
}

.recording:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    margin: 0px;
    border-radius: 50%;
    background: rgba( 0, 0, 0, 0.05 );
    animation: recording_before 2s infinite ease-in-out;
}

@keyframes recording {
    from {
        transform: scale( 1.1 );
    }

    50% {
        transform: none;
    }

    to {
        transform: scale( 1.1 );
    }
}

@keyframes recording_before {
    80% {
        width: 200px;
        height: 200px;
        margin: -100px;
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

.record_canvas {
    width: 60px;
    height: 100px;
    display: inline-block;

}

.txt_btn {
    color: #000;
    text-decoration: none;
    transition: 0.15s linear;
    animation: text_btn 0.3s ease-in-out;
}








/*여기부터 슬라이더*/
/*GLOBALS*/
*{margin:0; padding:0; list-style:none;}
a{text-decoration:none;	color:#666;}
a:hover{color:#1bc1a3;}
body, hmtl{background: #ecf0f1; font-family: 'Anton', sans-serif;}

#text-box {
	padding-left: 10px;
  /*border:2px solid black;*/
  height:400px;
  width:200px;
  float: right;
  margin-right: 100px;
  background-color: white;
  color: black;
}


#wrapper{
	width:900px;
	margin: 80px auto 0px auto;
	height:400px;
	position:relative;
	color:#fff;
	text-shadow:rgba(0,0,0,0.1) 2px 2px 0px;
}

#slider-wrap{
	width:600px;
	height:400px;
	position:relative;
	overflow: hidden;
}

#slider-wrap ul#slider{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

#slider-wrap ul#slider li{
	float:left;
	position:relative;
	width:600px;
	height:400px;
}

#slider-wrap ul#slider li > div{
	position:absolute;
	top:20px;
	left:35px;
}

#slider-wrap ul#slider li > div h3{
	font-size:36px;
	text-transform:uppercase;
}

#slider-wrap ul#slider li > div span{
	font-family: Neucha, Arial, sans serif;
	font-size:21px;
}

#slider-wrap ul#slider li i{
	text-align:center;
	line-height:400px;
	display:block;
	width:100%;
	font-size:90px;
}


#sec {
	margin-left: 4px;
}


/*btns*/
.btns{

	position:absolute;
	width:50px;
	height:60px;
	top:50%;
	margin-top:-25px;
	line-height:57px;
	text-align:center;
	cursor:pointer;
	background:rgba(0,0,0,0.1);
	z-index:100;


	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;

	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
}



.btns:hover{
	background:rgba(0,0,0,0.3);
}

#next{right:0; border-radius:30px;}
#previous{left:0; border-radius:30px;}
#counter{
	top: 30px;
	right:35px;
	width:auto;
	position:absolute;
}

#wrapper.active #next{right:0px;}
#slider-wrap.active #previous{left:0px;}


/*bar*/
#pagination-wrap{
	min-width:20px;
	margin-top:350px;
	margin-left: auto;
	margin-right: auto;
	height:15px;
	position:relative;
	text-align:center;
}

#pagination-wrap ul {
	width:100%;
}

#pagination-wrap ul li{
	margin: 0 4px;
	display: inline-block;
	width:5px;
	height:5px;
	border-radius:50%;
	background:#fff;
	opacity:0.5;
	position:relative;
  top:0;


}

#pagination-wrap ul li.active{
  width:12px;
  height:12px;
  top:3px;
	opacity:1;
	box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;
}




/*Header*/
h1, h2{text-shadow:none; text-align:center;}
h1{	color: #666; text-transform:uppercase;	font-size:36px;}
h2{ color: #7f8c8d; font-family: Neucha, Arial, sans serif; font-size:18px; margin-bottom:30px;}




/*ANIMATION*/
#slider-wrap ul, #pagination-wrap ul li{
	-webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	transition: all 0.3s cubic-bezier(1,.01,.32,1);
}

/*여기까지 슬라이더*/

body {
  padding: 0;
  background-color: ivory;
  height: auto;
}

a:hover {
  text-decoration: none;
}

a{
  color: white;
}

h1 {
  margin-top: 0;
  font-weight: bold;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}


#img {
    border: 0;
    width: 400px;
    height: 200px;
    background-image: url("../../img/monsterTriple.png");
  }

  #logo {
    margin-top: -7px;
    margin-left: 0px;
    margin-right: 8px;
    width: 178px;
    height: 36px;
    line-height: 36px;
  }

  #box {
    border: 0px;
    width: 980px;
    height: 150px;
    margin: 40px auto;
    position: relative;
  }

  #menual-Name {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 300%;
    font-weight: bold;
    color: white;
    margin-right: 18px;
    margin-bottom: 4px;
  }


  #container {
    padding: 15px;
    margin-top: 0;
    width: 100%;
    height: 230px;
    background-color:  rgb(255, 132, 18);

  }
.play_container{
	width: 980px;
	margin: 0 auto;
}

.form {
  height: 24px;
  margin: 0 auto;
  width: 950px;
  position: relative;
}

.menu {
  width: 80px;
  top: 15px;
  height: 24px;
  margin-left: 4px;
  float: left;
  text-align: center;
  color: white;
  font-weight: bold;
}


.footer_container {
  width: 100%;
  border-top: solid 1px gray;
  margin: auto;
}
.footer_domain-form{
  width: 980px;
  margin: 10px auto;
  height: 80px;
  text-align: center;
}
.footer_use{
  font-size: 17px;
}
.footer_menu {
  margin-left: 20px;
}


.com-font {
  color: black;
  font-weight: bold;
  font-size: 110%;
}
