
  #img {
    border: 0;
    width: 160px;
    height: 195px;
    background-image: url("../../img/monster1.png");
    margin-left: 55px;
    margin-top: -15px;
  }

  #logo {
    margin-top: -7px;
    margin-left: 0px;
    margin-right: 8px;
    width: 178px;
    height: 36px;
    line-height: 36px;
  }

  #box {
    border: 0px;
    width: 980px;
    height: 150px;
    margin: 40px auto;
    position: relative;
  }

  .standard-collection{
    width: 980px;
    margin: auto;
    text-align: center;
  }

  .standard-collection > h1{
    font-weight: bold;
    color: gray;
    text-align: left;
  }

  #menual-Name {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 300%;
    font-weight: bold;
    color: white;
    margin-right: 18px;
  }
  .flip-3d{
    width: 375px;
    height: 365px;
  }

  #container {
    padding: 15px;
    margin-top: 0;
    width: 100%;
    height: 230px;
    background-color: rgb(255, 157, 201);
  }

  .form {
    height: 24px;
    margin: 0 auto;
    width: 950px;
    position: relative;
  }

  .menu {
    width: 80px;
    top: 15px;
    height: 24px;
    margin-left: 4px;
    float: left;
    text-align: center;
    color: white;
    font-weight: bold;
  }

  .page {
    width: 10px;
    height: 10px;
    margin: 3px;
    float: left;
  }


  .toTop{
    margin-left: 90%;
    font-weight: bold;
    color: gray;
  }


  .footer_container {
    width: 100%;
    border-top: solid 1px gray;
  }
  .footer_domain-form{
    width: 980px;
    margin: 10px auto;
    height: 80px;
    text-align: center;
  }

 .footer_use{
   font-size: 17px;
 }
 .footer_menu {
   margin-left: 20px;
 }


a{
  color: white;
  text-decoration:none;
}

#menual-title{

font-size: 300%;
float: left;
margin-left: 25px;
height: 62px;
font-weight: bold;
color: dimgray;
}

#menual-btn {
    float: right;
width: 400px;
height: 62px;
margin-right: -25px;
margin-top :7px;
font-size: 16px
  }

  .menualBtn {
    background-color: lightcoral;
    border: 1px solid lightcoral;
    color: #fff;
    width: 106px;
    height: 46px;
    border-radius: 10px;
  }

 .menualBtn:HOVER{
  background-color: #ea5151;
  border: 1px solid #ea5151;
  color: #fff;
}

button{
text-align: center;
margin-left: 5px;
}

#howto{
	width: 960px;
	margin: auto;
	text-align: center;
}

.Menual_img{
	width: 935px;
	margin-left: 25px;
	margin-bottom: 80px;
}