@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
font-family: 'Noto Sans KR', sans-serif;
}
body {
  padding: 0;
  /*border: solid 2px black;*/
  height: auto;
}
#logout {
  margin-left:100px;
  display:none;
}
#com-bord-s>a:hover{
  transition: 0.25s;
  color:#3f54b0;
}
#com-together-s>a:hover{
  transition: 0.25s;
  color:#3f54b0;
}
#com-king-s>a:hover{
  transition: 0.25s;
  color:#3f54b0;
}
a:hover {
  text-decoration: none;
  color:white;
}

a{
  color: white;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}




#img {
  border: 0;
  width: 200px;
  height: 150px;
  background-image: url("../../img/paranmonster.png");
}

#logo {
  margin-top: -7px;
  margin-left: 0px;
  margin-right: 8px;
  width: 178px;
  height: 36px;
  line-height: 36px;
}
#logo a {
	font-size: 27px;
}

#box {
  border: 0px;
  width: 980px;
  height: 150px;
  margin: 40px auto;
  position: relative;
}


#container {
  padding: 15px;
  margin-top: 0;
  width: 100%;
  height: 230px;
  background-color: #3f54b0;
}


.form {
  height: 24px;
  margin: 0 auto;
  width: 950px;
  position: relative;
}

.menu {
  top: 15px;
  height: 24px;
  margin-left: 34px;
  float: left;
  text-align: center;
  color: white;
  font-weight: bold;
}
.menual {
	margin-left: 33px;
}

.page {
  width: 10px;
  height: 10px;
  margin: 3px;
  float: left;
}
/*******************************/
.write-title {
  position: relative;
  padding-top: 20px;
  background-color: rgba(143, 164, 255, 0.55);
  padding-bottom: 20px;
  padding-right: 20px;
  margin-bottom: 80px;
  border-radius: 10px;
}
 .title-input {
  margin-left: 26px;
  width:60px;
  border:none;
  
} 
.title-input input {
  padding-left:60px;
  border:none;
  outline:none;
  height: 30px;
  border-radius: 5px;
}
 #bw_titl {
  float: left;
  border-left: none;
  width: 928px;
} 
.cont-input {
  margin-top:35px;
  margin-left:5px;

}

#title-box {
    background-color: white;
    float: left;
    position: absolute;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
}
#bw_con {
    margin-left: 21px;
    width: 928px;
    height: 360px;
    resize:none;
    outline: none;
    border: none;
    margin-bottom: 15px;
    border-radius: 5px;
}

.btn-box {
  margin-left: 26px;
  width:930px;
}
.btn-box button {
  padding: 5px 10px;
  background-color:#3f54b0;
  color:white;
  border-radius:10px;
  float: right;
  font-size:15px;
  font-weight:bold;
}
.btn-success {
    color: #fff;
    background-color: #3f54b0;
    border-color: #3f54b0;
}
.btn-box input {
  float: left;
}
button {
    border-width: 0px;
}
.create-box {
  margin: 0 auto;
  width: 980px;
}


/*******************************/

.footer_container {
  width: 100%;
  border-top: solid 1px gray;
  margin: auto;
}
.footer_domain-form{
  width: 980px;
  margin: 10px auto;
  height: 80px;
  text-align: center;
}
.footer_use{
  font-size: 17px;
}
.footer_menu {
  margin-left: 20px;
}


.com-somenu {
    width: 90px;
    padding-top: 10px;
    padding-left: 2px;
    height: 100px;
    float: right;
    margin: 2px 3px 0 10px;
    border-radius: 55px;
}

.fa {
  font-size: 50px;
}

.fa-optin-monster {
  margin-top: 4px;
  color: red;
}

.fa-reddit-alien {
  margin-top: 4px;
  color: orange;
}

.fa-linux {
  margin-top: 4px;
  color: darkblue;
}

.com-font {
  color: black;
  font-weight: bold;
  font-size: 110%;
}

#com-somenu {
  margin: 20px auto;
  width: 980px;
  height: 95px;
  text-align: center;
}



#com-together {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 54px;

  width: 980px;
  height: auto;
  border-radius: 30px;
  border: 1px darkgrey solid;
  /*box-shadow: 10px 10px 20px grey;*/
  background-color: antiquewhite;
}

#addbtn {
  display: none;
}


#file-select{
  position:absolute;
  margin-left: 1px; 
  }
.btn-box input {
     width: 84px;
    height: 30px;
    float: left;
    opacity: 0;
    z-index: 500;
}