/*여기부터 모달 */

#gallery{
  -webkit-column-count:4;
  -moz-column-count:4;
  column-count:4;

  -webkit-column-gap:20px;
  -moz-column-gap:20px;
  column-gap:20px;
}
@media (max-width:1200px){
  #gallery{
  -webkit-column-count:3;
  -moz-column-count:3;
  column-count:3;

  -webkit-column-gap:20px;
  -moz-column-gap:20px;
  column-gap:20px;
}
}
@media (max-width:800px){
  #gallery{
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count:2;

  -webkit-column-gap:20px;
  -moz-column-gap:20px;
  column-gap:20px;
}
}
@media (max-width:600px){
  #gallery{
  -webkit-column-count:1;
  -moz-column-count:1;
  column-count:1;
}
}

.modal-img,.model-vid{
  width:110%;
  height:auto;
}


/*여기까지  모달*/

body {
  padding: 0;
  background-color: ivory;
  /*border: solid 2px black;*/
  height: auto;
}

a:hover {
  text-decoration: none;
}

a{
  color: white;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}




#img {

  border: 0;
  width: 180px;
  height: 180px;
  background-image: url("../../img/jungjun2.png");
}
#logo {
  margin-top: -7px;
  margin-left: 0px;
  margin-right: 8px;
  width: 178px;
  height: 36px;
  line-height: 36px;
}

#box {
  border: 0px;
  width: 980px;
  height: 150px;
  margin: 40px auto;
  position: relative;
}

#menual-Name {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 300%;
  font-weight: bold;
  color: white;
  margin-right: 18px;
}


#container {
  padding: 15px;
  margin-top: 0;
  width: 100%;
  height: 230px;
  background-color: rgb(160, 226, 152);
  /* background-color: rgb(160, 226, 22); */
}


.form {
  height: 24px;
  margin: 0 auto;
  width: 950px;
  position: relative;
}

.menu {
  width: 80px;
  top: 15px;
  height: 24px;
  margin-left: 4px;
  float: left;
  text-align: center;
  color: white;
  font-weight: bold;
}

.page {
  width: 10px;
  height: 10px;
  margin: 3px;
  float: left;
}


.footer_container {
  width: 100%;
  border-top: solid 1px gray;
  margin: auto;
}
.footer_domain-form{
  width: 980px;
  margin: 10px auto;
  height: 80px;
  text-align: center;
}
.footer_use{
  font-size: 17px;
}
.footer_menu {
  margin-left: 20px;
}


.video {
  height: 200px;
  width: 700px;
  box-shadow: 10px 10px 20px grey;
  margin-top: 5px;
  margin-bottom: 7px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 250, 255);
  /*border: black 0.5px solid;*/
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
}

.video > div > img {
  margin-left: 10px;
  float: left;
  width: 200px;
  height: 180px;
  border: 1px black solid
}

.video:hover {
  background-color: rgb(189, 209, 33);
}

.vid-text {
  position: absolute;
  left: 230px;
  width: 410px;
  height: 158px;
  margin-left: 10px;
  /*border: 1px red solid*/
}

.vid-date {
  margin-left: 567px;
  bottom: 10px;
  position: absolute;
  text-align: right;

  /*border: 1px green solid*/
}
.vid-date > div {
  text-align: left;
}

.bord-button {
  margin-bottom: 20px;
}
.top-input{
	width: 605px;
  margin-right: 5px;
  height: 40px;
  float: right;
}

.bottom-button-box {
  text-align: center;
  /*border: 1px black solid;*/
  width: 120px;
  margin: 40px auto -5px auto
}

.bottom-button-box > a {
  margin-left: 6px;
  margin-right: 6px;
  font-size: 150%;
  line-height: 25px;
  color: black;
}

.standard-collection {
	  width: 400px;
    text-align: center;
    margin: 0 auto;
}

#next-btn {
	background-color: green;
	border-radius: 50px 10px 50px 30px;
	color: white;
	outline: 0;
	font-size: 12px;
}

#prev-btn {
  border-radius: 10px 50px 30px 50px;
	background-color: green;
	color: white;
	outline: 0;
	font-size: 12px;
}

#bord-btn{
  height: 40px;
  margin-bottom: 4px;
  float: right;
  margin-right: 85px;
}

.com-somenu {
    width: 90px;
    padding-top: 10px;
    padding-left: 2px;
    height: 100px;
    float: right;
    margin: 2px 3px 0 10px;
    border-radius: 55px;
}

.fa {
  font-size: 50px;
}

.fa-optin-monster {
  margin-top: 4px;
  color: red;
}

.fa-reddit-alien {
  margin-top: 4px;
  color: orange;
}

.fa-linux {
  margin-top: 4px;
  color: darkblue;
}

.com-font {
  color: black;
  font-weight: bold;
  font-size: 110%;
}

#com-somenu {
  margin: 20px auto;
  width: 980px;
  height: 95px;
  text-align: center;
}



#com-together {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 54px;

  width: 980px;
  height: auto;
  border-radius: 30px;
  border: 1px darkgrey solid;
  /*box-shadow: 10px 10px 20px grey;*/
  background-color: rgb(205, 245, 195);
}

#video-box {
  margin-bottom: 30px;
  /*border: 1px black solid;*/
}


#vid-serch {
  text-align: right;
  /*border: 1px black solid;*/
  margin: 0 auto 20px auto;
}

/******************************************************/
.content_box {
	padding: 10px;
	background-color: white;
  border-radius: 20px;
  border: 1px green solid;
  margin-bottom: 20px;
}
.content_box img {
	height: 200px;
	width: 155px;
	margin-left: 30px;
}
.text_box {
	border-radius: 10px;
	width: 600px;
	height: 200px;
	float: right;
}

.titl {
	background-color: green;
	text-align: center;
	color: white;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 1px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.date {
	text-align: right;
	padding-right: 10px;
	color: darkgray;
	font-family: monospace;
	height: 35px;
}
.cont {
	text-align: center;
	height: 102px;
}
.like {
	position: relative;
	height: 27px;
}
.heart {
	position:absolute;
	color: red;
	font-size: 24px;
	top: 0;
}

.heartfull {
	position:absolute;
	color: red;
	font-size: 24px;
	top: 0;
}
.heart-box {
	position:absolute;
	/* border: 1px red solid; */
	height: 24px;
	width: 25px;
	right: 0;
	margin-right: 5.5px;
	z-index: 100;
}

.heartfull-box {
	position:absolute;
	/* border: 1px red solid; */
	height: 24px;
	width: 25px;
	right: 0;
	margin-right: 5.5px;
	z-index: 100;
}

.heart:hover {
	cursor : pointer;
	color: red;
}
.heartfull:hover {
	cursor : pointer;
	color: red;
}
.name {
	position:absolute;
	right:40px;
	font-size: 17px;
}

/*************슬라이더*************/

.all{
  width: 960px;
  height: 600px;
  margin: 10px auto 0px;
}
#slider {
  position: relative;
  overflow: hidden;
  margin: 50px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 980px;
  height: 620px;
  background-color: lightgray;
  /*border: 3px solid gray;*/
  text-align: center;
  line-height: 300px;
}

.slider_box img {
	width: 960px;
	height: 600px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.3;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}
/***********************************************************/

#me-view{
	margin-left: -5px;
}

#playTools{
	text-align: left;
	height: 50px;
	color: gray;
	padding-left: 55px;
	margin-top: 30px;
}

.modal-dialog{
	width: 1100px;
	margin: auto;
}

#myModal{
	margin-top: -100px;
}

.modal-body{
	margin-top: -20px;
	padding: 0;
}


.makePublicBtn{
	width: 60px;
	height: 35px;
	/* background-color: #ff9869; */
	color: white;
	border: 1px solid white;
}

#recordPlay{
	background-color: rgba(255, 0, 0, 0.54);
	width: 60px;
  height: 60px;
  border: 1px solid white;
  border-radius: 5px;
}

#recordStop{
	background-color: rgba(255, 0, 0, 0.54);
  width: 60px;
  height: 60px;
  border: 1px solid white;
  border-radius: 5px;
}

#together-view{
	border-radius: 5px 0 0 5px;
}

#me-view{
	border-radius: 0 5px 5px 0;
}
