div {
  border: solid 1px red;
}
#container {
  width: 100%;
}
.header {
  height: 200px;
  width: 100%;
}
.top-menubar {
  height: 150px;
  text-align: center;
  font-size: 45px;
  padding-top: 42px;
}
.select-form {
  height: 150px;
  padding-top: 15px;

}
.select-bar {
  height: 120px;
  width: 67%;
  position: absolute;
  font-size: 60px;
  margin: 15px 8 0 15px;
  margin-left: 15px;
}
.write-btn {
  color: white;
  height: 120px;
  width: 28%;
  font-size: 60px;
  background-color: tomato;
  float: right;
  margin-right: 15px;
  margin-left: 8px;
}
