
/*modal start*/

#gallery{
  -webkit-column-count:4;
  -moz-column-count:4;
  column-count:4;
  
  -webkit-column-gap:20px;
  -moz-column-gap:20px;
  column-gap:20px;
}
@media (max-width:1200px){
  #gallery{
  -webkit-column-count:3;
  -moz-column-count:3;
  column-count:3;
    
  -webkit-column-gap:20px;
  -moz-column-gap:20px;
  column-gap:20px;
}
}
@media (max-width:800px){
  #gallery{
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count:2;
    
  -webkit-column-gap:20px;
  -moz-column-gap:20px;
  column-gap:20px;
}
}
@media (max-width:600px){
  #gallery{
  -webkit-column-count:1;
  -moz-column-count:1;
  column-count:1;
}  
}

.modal-img,.model-vid{
  width:110%;
  height:600px;
}
.modal-body{
  padding:0px;
}

/*modal location*/
.modal-content {
	margin-top: 80%;
	margin-left: -160px;
	margin-right: -80px;
}

/*modal end*/


h1 {
	font-size: 50px;
  font-weight: bold;
}
body {
  padding: 0;
  background-color: ivory;
  /*border: solid 2px black;*/
  height: auto;
}

a:hover {
  text-decoration: none;
}

a{
  color: white;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}





.footer_container {
  width: 100%;
  border-top: solid 1px gray;
  margin: auto;
}
.footer_domain-form{
  width: 100%;
  margin: 10px auto;
  height: 80px;
  text-align: center;
}
.footer_use{
  font-size: 17px;
}
.footer_menu {
  margin-left: 20px;
}



.video {
  height: 285px;
  width: 100%;
  box-shadow: 10px 10px 20px grey;
  margin-top: 5px;
  margin-bottom: 7px;
  background-color: rgb(255, 250, 255);
  /*border: black 0.5px solid;*/
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
}

.video > div > img {
  margin-left: 10px;
  float: left;
  width: 420px;
  height: 270px;
  border: 1px black solid
}

.video:hover {
  background-color: rgb(189, 209, 33);
}

.vid-text {
  position: absolute;
  left: 500px;
  width: 410px;
  height: 158px;
  margin-left: 10px;
  font-size: 30px;
  /*border: 1px red solid*/
}

.vid-date {
  margin-left: 780px;
  bottom: 10px;
  position: absolute;
  text-align: right;
  font-size: 20px;
  /*border: 1px green solid*/
}
.vid-date > div {
  text-align: left;
}

.bord-button {
  margin-bottom: 20px;
  margin-top: 10px;
}


.bottom-button-box {
	font-size: 40px;
  text-align: center;
  /*border: 1px black solid;*/
  width: 260px;
  margin: 30px auto 25px auto;
}

.bottom-button-box > a {
  margin-left: 5px;
  margin-right: 5px;
  line-height: 40px;
  color: black
}

#next {
	border-radius: 25px;
  float: right;
  height: 60px;
  width: 100px;
}

#prev {
	border-radius: 25px;
  float: left;
  height: 60px;
  width: 100px;
}

.top-input{
	padding-left: 10px;
	margin-right: 5px;
  height: 80px;
  width: 70%;
  float: right;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: 35px;
  outline: none;
}

#bord-btn{
  height: 80px;
  width: 270px;
  margin-right: 10px;
  margin-bottom: 4px;
  float: right;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 35px;
  font-weight: bold;
}


#com-together {
	margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  border-radius: 30px;
  border: 1px darkgrey solid;
  /*box-shadow: 10px 10px 20px grey;*/
  background-color: antiquewhite;
}

#video-box {
  margin-bottom: 30px;
  /*border: 1px black solid;*/
}


#vid-first {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#vid-last {
  margin-top: -23px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#vid-serch {
  text-align: right;
  /*border: 1px black solid;*/
  margin: 0 auto 20px auto;
}
